
.row {
    margin-left: 0;
    margin-right: 0;
}
/* @media screen and (max-width: 575.8px){
  .row {
  border: 1px solid rgb(233, 233, 233); 
  box-shadow: 4px 4px 10px rgba(223, 223, 223, 0.5); 
  padding: 10px;
  border-radius : 10px;
}
} */